.select-label
  display: flex
  font-size: 18px
  border-bottom: 1px solid #eee
  background-color: lighten(lightblue, 10%)
  &-title
    width: 30%
    font-weight: 700
    position: relative
    border-right: 1px solid #eee
    padding: 12px 16px
  &-value
    width: 70%
    padding: 6px 16px
    position: relative
    display: flex
    align-items: center
    .form-control
      background-color: rgba(#fff, .5)
      box-shadow: none!important
  &:nth-child(even)
    background-color: lighten(lightblue, 5%)



