body
  margin: 0
  font-family: 'Roboto', sans-serif
  font-weight: 400



code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

*
  outline: none!important


.page-wrapper
  padding: 70px 0 50px

h1, h2
  margin-bottom: 30px

table
  margin-bottom: 30px!important
  font-weight: 500
  a
    color: inherit
    &:hover
      text-decoration: none
  tr

    .close
      color: red
      opacity: 0
    &:hover
      .close
        opacity: .4
        color: red
  mark
    background-color: orange
    padding: 0
  td
    &:first-child
      width: 70px


.mb
  margin-bottom: 40px

.page-link
  cursor: pointer

.Badge
  width: 40px
  height: 40px
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center
  background-color: #007bff
  font-size: 18px
  color: #fff
  background-repeat: no-repeat
  background-size: cover
  background-position: center center
  overflow: hidden
  position: relative
  img
    width: 100%
    height: 100%
    object-fit: cover
    flex: 1

.spinner
  height: 400px
  display: flex
  justify-content: center
  align-items: center

.popup-overlay
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(#000, .7)
  transition: all .3s ease
  .popup
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
  mark
    padding: 0
    background-color: transparent

.add-line
  text-align: right

.margin-top
  margin-top: 20px

.align-right
  text-align: right

.entering
  display: flex
  height: calc(100vh - 70px)
  justify-content: center
  align-items: center

.breadcrumb
  a
    &:hover
      text-decoration: none


.sorting-head
  position: relative
  cursor: pointer
  &:after
    content: ''
    position: absolute
    border: 6px solid transparent
    border-top: 6px solid brown
    right: 14px
    top: 50%
    transform: translateY(-25%)
    display: none
  &.sorting
    &:after
      display: block
  &.desc
    &:after
      transform: rotate(180deg) translateY(75%)

.add-univer-dep
  margin-bottom: 10px
  border-color: #c1e1ec
  background-color: #c1e1ec

.no-auth-content
  color: grey
  font-size: 14px





